<div id="container-left">
   <%= render('shared/user_status') %>
</div>

<div id="container-right">
   <div id="user-form" class="content-box">
      <div class="content-header">
         <p>アカウントの編集</p>
      </div>
      <%= form_for(@user) do |f| %>
         <%= render 'shared/error_messages', object: f.object %>

         <ul class="form-line">
            <li class="form-label">氏名</li>
            <li class="form-value"><%= @user.name %></li>
         </ul>

         <div class="form-line">
            <p class="form-label">Eメール</p>
            <%= f.text_field :email, placeholder: 'Eメール(必須)', class: 'form-input form-user' %>
         </div>

         <div class="form-line">
            <p class="form-label">社員番号</p>
            <p class="form-value"><%= @user.employee_number %></p>
         </div>

         <div class="form-line">
            <p class="form-label">所属部署</p>
            <p class="form-value"><%= @user.division %></p>
         </div>

         <div class="form-line">
            <p class="form-label">性別</p>
            <p class="form-value"><%= @user.gender %></p>
         </div>

         <div class="form-line">
            <p class="form-label">プロフィール画像</p>
            <%= f.file_field :uploaded_thumbnail, class: 'form-file form-user' %>
         </div>

         <div class="form-line">
            <p class="form-label">入社年月</p>
            <p class="form-value"><%= @user.started_at.strftime("%Y年%m月%d日") %></p>
         </div>

         <div class="form-line">
            <p class="form-label">誕生日</p>
            <p class="form-value"><%= @user.birthday.strftime("%Y年%m月%d日") %></p>
         </div>

         <div class="form-line">
            <p class="form-label">パスワード</p>
            <%= link_to "パスワード変更へ", edit_password_path(@user), class: "form-link form-value" %>
         </div>

         <%= f.submit '登録', class: 'btn form-submit' %>
      <% end %>
   </div>

</div>
