<div class="content-box">
   <h1>User Index</h1>
</div>

   <ul>
      <% @users.each do |user| %>
      <li class="content-box">
         <p>Name: <%= user.name %></p>
         <p>Email: <%= user.email %></p>
         <p>Employee number: <%= user.employee_number %></p>
         <p>Division: <%= user.division %></p>
         <p>Gender: <%= user.gender %></p>
         <p>Started_at: <%= user.started_at %></p>
         <p>Birthday: <%= user.birthday %></p>
         <p>Employee: <%= user.employee %></p>
      </li>
      <% end %>
   </ul>
