<div id="container-left">
   <%= render('shared/user_status') %>
</div>

<div id="container-right">
   <div id="condition-summary" class="content-box">
      こころチェックの状況を定義
   </div>
   <div id="post-option">
      <% if @user == current_user %>
         <div id="search-own-user" class="search content-box">
            <input type="text" class="search-form">
            <%= button_tag(class: "search-btn fa fa-search") do %>
            <% end %>
         </div>
         <div id="toggle-draft" class="content-box">
            <a href="#" id="toggled-publish" class="toggle-button toggle-active"><i class="fa fa-book"></i><span>公開中</span></a>
            <%= link_to user_path(@user, published: "0"), id: 'toggled-draft', class: "toggle-button", remote: true do %><i class="fa fa-pencil-square-o"></i><span>下書き</span><% end %>
         </div>
      <% else %>
         <div id="search-another-user" class="search content-box">
            <input type="text" class="search-form">
            <%= button_tag(class: "search-btn fa fa-search") do %>
            <% end %>
         </div>
      <% end %>
   </div>
   <div id="posts">
      <%= render 'posts/posts' %>
   </div>
</div>
