   <div id="blackout" class="ajax-content"></div>
   <div id="post-form" class="content-box ajax-content">
      <div class="content-header">
         <p>新しい投稿</p>
      </div>
      <%= form_for(@post, remote: true) do |f| %>
         <%= render 'shared/error_messages', object: f.object %>

         <div class="form-line">
            <p class="content-section"><%= "#{Date.today.strftime("%Y年%m月%d日")}のあなたの記録"%></p>
            <%= f.text_area :content, placeholder: "#{Date.today.strftime("%Y年%m月%d日")}を振り返って記録しよう", class: 'form-input form-post' %>
         </div>

         <div class="form-line">
            <p class="content-section">今の仕事状況</p>
            <ul class="form-condition">
               <li><%= f.radio_button :condition, 'success', class: "condition-button button-success" %><p class="condition-label">余力あり</p></li>
               <li><%= f.radio_button :condition, 'info', class: "condition-button button-info" %><p class="condition-label">ちょうど</p></li>
               <li><%= f.radio_button :condition, 'warning', class: "condition-button button-warning" %><p class="condition-label">溜め気味</p></li>
               <li><%= f.radio_button :condition, 'danger', class: "condition-button button-danger" %><p class="condition-label">手一杯</p></li>
            </ul>
         </div>

         <%= f.hidden_field :post_type, value: "daily" %>

         <% if request.path_info = new_post_path %>
            <div class="form-line">
               <%= f.check_box :published, { class: 'form-check form-post' }, false %><label>下書きとして保存する</label>
            </div>
         <% end %>

         <%= f.submit '投稿する', class: 'btn form-submit'%>
      <% end %>
   </div>
