
   <% @posts.each do |post| %>
   <div id="post-<%= post.id %>" class="post content-box">
      <div class="post-main">
         <div class="post-imgs">
            <%= image_tag(show_user_thumbnail(post.user), class: 'post-thumbnail') %>
            <div class="post-condition">
               <p class="post-condition-about post-about-<%= post_class(post) %>"><%= post_category(post)%></p>
               <%= image_tag(post_icon(post), class: 'post-icon') %>
               <% if post.post_type == "daily" %>
               <p class="post-condition-result post-result-<%= post_class(post) %>"><%= post_condition(post)%></p>
               <% end %>
            </div>
         </div>
         <div class="post-contents">
            <ul class="post-header">
               <li class="post-user"><%= post.user.name %>の投稿</li>
               <li class="post-posted-at"><%= post.updated_at.strftime("%Y/%m/%d %H:%M") %> 更新</li>
               <% if post.user == current_user %>
                  <li class="post-command">
                     <%= link_to edit_post_path(post), remote: true do %><i class="fa fa-pencil"></i><% end %>
                     <%= link_to post_path(post), method: :delete do %><i class="fa fa-trash-o"></i><% end %>
                  </li>
               <% end %>
            </ul>
            <p class="post-line">
               <%= post_content(post) %>
               <% if post.content.length >= 140 %>
                  <%= link_to post_path(post), remote: true do %><i class="fa fa-angle-double-right"></i>続きを読む<% end %>
               <% end %>
            </p>
         </div>
      </div>
      <% if post.published? %>
      <div class="post-reaction">
         <a href="#"><i class="fa fa-thumbs-o-up"></i><span class="reaction-str">いいね</span><span>2</span></a>
         <%= link_to new_comment_path(post), remote: true do %><i class="fa fa-comment-o"></i><span class="reaction-str">コメント</span><span><%= post.comments.count %></span><% end %>
      </div>
      <% end %>
   </div>
   <% end %>

   <div id="pagination">
      <%= paginate @posts %>
   </div>
