<!DOCTYPE html>
<html>
  <head>
    <title>ActiveRecoBook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='//fonts.googleapis.com/css?family=Fascinate' rel='stylesheet'>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  </head>

  <body>
   <!--         Header         -->
   <%= render 'layouts/header' %>

   <!--        Contents        -->
   <div id="container">
      <%= render 'shared/flash' %>
      <%= yield %>
   </div>

   <!--         Footer         -->
   <%= render 'layouts/footer' %>
  </body>
</html>
